h4 {
  margin: 0;
  padding: 0 0 10px 0;
}

.child1_container {
  font-size: 2em;
  background-color: white;
  border: 1px solid grey;
  border-radius: 6px;
  position: absolute;
  padding: 1em 1em;
  bottom: -14em;
  left: 1em;
}

#counter_button_container {
  background-color: white;
}

#counter_button {
  font-size: 1em;
  background-color: rgb(164, 161, 161);
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px grey;
  padding: 5px 20px;
  cursor: pointer;
}

#counter_button:hover {
  color: white;
  background-color: rgb(79, 121, 18);
}
